<div class= "container">
  <div class= "row mt-3">
    <div class= "col fs-4">
        <h2>Tickets</h2>
        <ul>
      <% @ticket.each do |ticket| %>
        <li> <%= ticket.ticket_number %> </li>
      <% end %>
      </ul>
    </div>
    <div class= "col fs-4">
    <ol>
        <h2>Users</h2>
      <% @user.each do |user| %>
        <li class="mt-2"> <%= user.name %> </li>
        <%= link_to 'Create Ticket', users_path %>
      <% end %>
      </ol>
    </div>
  </div>
</div>
