<div class="container  px-3 my-3">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="container mt-3">
        <h1 class="mb-3">Add A Ticket
        </h1>
        <%= link_to "Create", new_ticket_path(@ticket), :class => "btn btn-success", id: "create-number"%>
      </div>
    </div>
    <div class ="col d-flex justify-content-center">
      <div class="container mt-3">
        <h1>Your Tickets
        </h1>
        <% @user.each do |ticket| %>
          <p> <strong> <%=ticket.ticket_number%> <strong> </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
