<%= form_with model: [@user, @ticket] do |form| %>
  <div>
    <%= form.label :ticket_number %><br>
    <%= form.text_area :ticket_number %><br>
  </div>
  <div>
    <%= form.submit class: 'btn btn-success btn-sm' %>
  </div>
<% end %>